.formbuilder.fb-dashboard {

    .chart-explorer-container {
        position: relative;
        height: 130px;
        width: 100%;
        padding-bottom: 80px;
        margin-bottom: 25px;

        .chart-explorer {
            height: 100%;
            padding-bottom: 80px;
            border-radius: $border-radius;
        }

        .chart-container {
            padding: 0 20px;
        }

        .chart-container, .chart {
            height: 130px;
        }

        .chart-header {
            display: flex;
            align-items: center;
            padding: 20px 20px 30px 20px;
            box-sizing: border-box;
        }

        .timeline-wrapper {
            margin-left: auto;

            button {
                appearance: none;
                border: 1px solid $c-border;
                outline: none;
                padding: 10px 30px;
                cursor: pointer;

                &:first-child {
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                }

                &:last-child {
                    border-top-right-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }

                &.active {
                    background: $c-border;
                    font-weight: 800;
                    color: $c-gray;
                }
            }
        }

        .loader {
            position: absolute;
            top: 65%;
            left: 50%;
            margin-top: -10px;
            margin-left: -10px;
        }

        .total {
            display: flex;

            font-size: 12px;
            color: $c-lightGray;
            text-transform: uppercase;

            p {
                color: $c-lightGray !important;
                font-size: 500;
                letter-spacing: .1em;
            }

            .total-value-wrapper {
                margin-right: 5px;
                font-size: 500;
                letter-spacing: .1em;
            }
        }

        .tooltip {
            text-align: center;
            background: white;
            box-shadow: none;

            .x-value {
                font-size: 10px;
                font-weight: 600;
                color: $c-lightGray;
            }

            .y-value {
                font-size: 18px;
                font-weight: 800;
                color: $c-blue;
            }
        }

        .grid-line .tick {
            line {
                stroke: darken($c-border, 2) !important;
            }
        }

        .tick {
            text { 
                stroke: none !important; 
                fill: $c-lightGray !important;
            }
        }

        .axis path {
            stroke: $c-border !important;
        }

        .plots .plot {
            fill: $c-blue !important;
        }

        .chart-line path {
            stroke: $c-blue !important;
        }

        .chart-area path {
            fill: $c-blue !important;
        }


        @include bp('max-width', $tablet) {
            height: 150px;

            .chart-header {
                display: block;
            }

            .timeline-wrapper {
                button {
                    width: 50%;
                }
            }

            .total {
                margin-bottom: 15px;
            }
        }
    }


    .plugin-updates {
        .plugin-warning {
            color: $c-red;
        }
        
        .plugin-success {
            color: $c-blue;
        }
    }
}