.formbuilder.fb-forms {

    @include bp('max-width', $tablet) {
        .pane {
            padding-top: 24px;
        }
    }

    .forms-container {
        padding: 20px 30px 60px 30px;
        background-color: $c-offWhite;
    }

    .edit-group {
        display: block;
        position: absolute;
        top: 50%;
        right: -15px;
        margin-top: -7px;
        width: 12px;
        cursor: pointer;
        transition: all .3s cubic-bezier(1, 0.52, 0, 0.69);
        svg {
            width: 100%;
            * {
                fill: $c-offWhite;
                transition: fill .3s ease;
            }
        }
        &:hover {
            svg * { fill: $c-info !important; }
        }
    }

    .datatablesorthelper {
        .icon.move:before { display: none; }
        td {
            font-family: $montserrat;
            font-size: 14px;
            @include antialias;
        }
        td.dragsort {
            text-align: center;
        }
        td.name a {
            font-weight: bold;
            color: $c-info;
        }
        td.updated, td.count {
            color: $c-textLight;
        }
    }

    #noforms {
        text-align: center;
        padding: 60px 30px;

        .title {
            font-weight: bold;
            font-size: 18px;
            padding-bottom: 5px;
            color: $c-textDarkBlue;
        }
    }
}


// Edit Form / New Form
.formbuilder.fb-edit-form {

    .add-email-notification {
        margin-bottom: 15px;
    }

    .form-options-tout, .spam-protection-tout {
        .body { padding: 0; }
    }

    .delete-form-meta, .save-form-meta {
        box-shadow: none;
        border: none;     
        .delete-form, .save-form {
            display: block;
            text-align: center;
            width: 100%;
            box-sizing: border-box;
        }
    }

    .field-heading.sub-heading {
        background-color: rgb(244, 245, 246);
        color: rgb(85, 85, 85);
        font-size: .8em;
        padding: 8px auto;
        text-transform: uppercase;
        border-top: 1px solid #e3e5e8;
        &.first {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .titlebar {
        .preview {
            display: inline-block;
            vertical-align: middle;
            font-size: 10px;
            margin-left: 10px;
        }
    }

}