{% extends "_layouts/cp" %}

{# The title of this CP section #}
{% set title = "Email Builder" %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('email-builder') }}</h2>
{% endset %}
