.formbuilder {
    .btns {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 12px;
        font-style: normal;
        letter-spacing: .05em;
        border-radius: 5px;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;
        color: $c-white;
        padding: 16px 19px 14px 19px;
        height: auto;
        background-image: none !important;
        transition: all .3s ease;
        box-shadow: none;
        box-sizing: border-box;
        line-height: 1;
        @include antialias;

        // Inputs
        border: none;
        box-shadow: none;
        cursor: pointer;
        outline: none;

        &:before {
            margin-right: 15px !important;
            font-size: 15px;
        }
        &:hover {
            background-image: none;
        }

        .txt {
            padding-left: 15px;
        }

        &.btn-addon {
            padding-right: 65px;
            &:before {
                content: '';
                display: block;
                @include position(absolute, 0 30px auto auto);
                height: 40px;
                width: 1px;
                background: white;
            }
            &:after {
                font-family: 'FontAwesome';
                display: block;
                @include position(absolute, 12px 17px auto auto);
            }

            &.i-arrow-down {
                &:after {
                    content: '\f107';
                }
            }
        }

        &.btn-white {
            background-color: $c-white;
            border: 1px solid $c-border;
            color: $c-textDarkBlue;
            &.icon {
                background: $c-white;
            }
            &:hover {
                background-color: $c-border;
            }
        }

        &.btn-add {
            background-color: lighten($c-blue, 35);
            
            &.option-edit {
                color: white;
            }

            &:hover {
                background-color: $c-blue;
                svg * {
                    fill: $c-white !important;
                }
            }
        }
        
        &.btn-link {
            color: $c-info;
            &:hover {
                color: darken($c-info, 20);
            }
        }

        &.btn-info {
            color: $c-white;
            background-color: $c-info;
            &:hover {
                background-color: lighten($c-info, 5);
            }

            .btn-hint {
                color: lighten($c-info, 20);
            }
        }

        &.btn-danger {
            color: $c-white;
            background-color: $c-danger;
            &:hover {
                background-color: lighten($c-danger, 5);
            }
        }

        &.btn-success {
            color: $c-white;
            background-color: $c-success;
            &:hover {
                background-color: lighten($c-success, 5);
            }
        }

        // &.btn-moss {
        //     background-color: $c-moss;
        //     &:hover, &.active {
        //         background-color: lighten($c-moss, 5);
        //     }
        // }

        &.btn-muted {
            background-color: rgba($c-lightGray, .4);
            &:hover, &.active {
                background-color: rgba($c-lightGray, .3);
            }
        }

        // Button hints
        .btn-hint {
            float: right;
        }

        // Field settings
        &.fields-settings {
            font-size: 17px;
            padding: 0 15px;

            &.has-values {
                color: $c-white;
                background-color: $c-success;
                &:hover {
                    background-color: $c-success;
                }
            }
        }

        // Repeater
        &.btn-repeater {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            &.btn-info {
                background: transparent;
                border: 2px dashed $c-info;
                color: $c-info;

                &:hover {
                    background: $c-info;
                    color: white;
                }
            }
        }

        // Small
        &.btn-small {
            font-weight: 900;
            font-size: 8px;
            padding: 10px 15px;
            letter-spacing: 0.1em;
        }
    }
}