.cmp-tout {
    position: relative;
    font-size: 14px;
    color: $c-textDarkBlue;
    border-radius: $border-radius;
    background-color: $c-white;
    border: 1px solid darken($c-border, 5);
    box-sizing: border-box;
    margin-bottom: 15px;
    @include antialias;

    &.bodycollapsed, &.bodycollapsed.optionscollapsed {
        header {
            border-radius: $border-radius;
            & > .actions .icons.last {
                border-bottom-right-radius: $border-radius;
            }
        }
    }

    &.section-collapsible {
        &:not(.bodycollapsed) {
            .bodytoggle {
                &:after {
                    @include transform(rotate(180deg));
                }
            }
        }

        &:not(.optionscollapsed) {
            .optionstoggle {
                &:after {
                    @include transform(rotate(180deg));
                }
            }
        }
    }
    
    .section-status {
        display: block;
        font-size: 10px;
        color: $c-warning;
    }

    header {
        display: flex;
        position: relative;
        border-bottom: 1px solid darken($c-border, 5);
        padding: 15px 20px;

        .docs-link {
            display: block;
            font-size: 10px;
            width: 20px;
            text-align: center;
            color: $c-lightGray;
            margin-left: auto;
            transition: color .3s ease;

            &:hover {
                color: $c-green;
            }
        }

        .tout-title {
            font-weight: 800;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: .07em;
        }

        &.theme-moss {
            color: $c-white;
            background-color: $c-moss;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            & > .actions {
                .icons {
                    color: $c-white;
                    border-color: lighten($c-border, 10);
                    &:hover {
                        background-color: lighten($c-border, 10);
                    }
                    &.last {
                        border-top-right-radius: $border-radius;
                    }
                }
            }
        }

    }

    .actions {
        @include position(absolute, 0 0 auto auto);
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        .status {
            @include size(10px);
            margin-right: 20px;
            &.off {
                background-color: $c-danger;
            }
            &.on {
                background-color: $c-success;
            }
        }

        .settings {
            &.icon {
                color: $c-border;
            }
        }



        .icons {
            position: relative;
            display: inline-block;
            padding: 15px 0;
            @include size(48px 100%);
            text-align: center;
            color: $c-border;
            border-left: 1px solid $c-border;
            box-sizing: border-box;
            &:hover {
                background-color: $c-border;
            }
            &:after {
                @include position(absolute, 50% auto auto 50%);
                margin-top: -7px;
                margin-left: -5px;

                font-family: 'Craft';
                speak: none;
                -webkit-font-feature-settings: "liga", "dlig";
                -moz-font-feature-settings: "liga=1, dlig=1";
                -moz-font-feature-settings: "liga", "dlig";
                -ms-font-feature-settings: "liga", "dlig";
                -o-font-feature-settings: "liga", "dlig";
                font-feature-settings: "liga", "dlig";
                text-rendering: optimizeLegibility;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                direction: ltr;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                display: inline-block;
                text-align: center;
                font-style: normal;
                vertical-align: middle;
                word-wrap: normal !important;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }

        }

        .text-icon {
            width: auto;
            padding: 15px 20px;
            font-size: 11px;

            &:after {
                display: none;
                margin-left: 15px;
            }
        }
        .collapser { &:after { content: 'downangle'; } }
        .settings { &:after { content: 'settings'; } }
    }



    .body, .body-options {
        padding: 20px;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        .tout-count {
            font-weight: bold;
        }
        .tout-count-text {
            font-size: 12px;
        }

        &.theme-moss {
            background-color: lighten($c-moss, 50);
        }
    }

    // Theme 
    &.theme-moss {
        background-color: $c-moss;
        color: $c-white;

        header {
            border-color: #6F8996;
        }
    }
}

// Form Settings
.form-settings-tout, .notification-settings-tout {
    .body, .body-options {
        padding: 0;
    }
    .fb-field {
        margin: 0;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $c-border;
        input.text {
            border-radius: 0;
            border: 0;
            background-color: transparent;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}

.fieldlayout-fields {
    .body-options {
        padding :0;
    }
}

.notification-fields, .plugin-settings-fields {
    padding: 0 !important;
    background-color: $c-white !important;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 20px;
        .action {
            margin-left: auto;
        }
    }

    .body {
        padding: 0;
    }
}

.notification-fields {

    .fields-wrapper {
        display: flex;

        .fields {
            width: 70%;
            border-right: 1px solid $c-border;
        }

        .meta {
            width: 30%;
        }

        .meta-content {
            padding: 20px;
            box-sizing: border-box;

            label {
                font-size: 14px;
            }
        }

        .add-template-btn {
            span {
                padding-right: 10px;
            }
        }
    }

    .template-element {
        .element {
            margin-top: 20px;

            p {
                margin: 0;
            }

            .element-title {
                font-size: 12px;
                font-weight: 700;
            }

            .element-links {
                display: flex;

                a {
                    display: block;
                    font-size: 9px;
                    font-weight: 600;
                    color: $c-info;

                    &:hover {
                        color: darken($c-info, 5);
                    }
                }
            }

            .pipe {
                padding: 0 5px;
                color: $c-lightGray;
            }
        }
    }
}

.cmp-tout-alt {
    position: relative;
    font-size: 14px;
    color: $c-textDarkBlue;
    background-color: $c-white;
    border: 1px solid darken($c-border, 5);
    box-sizing: border-box;
    @include antialias;

    &.section-collapsible {
        margin-top: 30px;
    }

    &.bodycollapsed {
        header {
            border: none !important;
        }
    }

    &.section-collapsible {
        &:not(.bodycollapsed) {
            .bodytoggle {
                &:after {
                    @include transform(rotate(180deg));
                }
            }
        }

        &:not(.optionscollapsed) {
            .optionstoggle {
                &:after {
                    @include transform(rotate(180deg));
                }
            }
        }
    }
    
    .section-status {
        display: block;
        font-size: 10px;
        color: $c-warning;
    }

    header {
        display: flex;
        position: relative;
        padding: 15px 20px;

        .docs-link {
            display: block;
            font-size: 10px;
            width: 20px;
            text-align: center;
            color: $c-lightGray;
            margin-left: auto;
            transition: color .3s ease;

            &:hover {
                color: $c-green;
            }
        }

        .tout-title {
            font-weight: 800;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: .07em;
        }

        &.theme-moss {
            color: $c-white;
            background-color: $c-moss;

            & > .actions {
                .icons {
                    color: $c-white;
                    border-color: lighten($c-border, 10);
                    &:hover {
                        background-color: lighten($c-border, 10);
                    }
                    &.last {
                        border-top-right-radius: $border-radius;
                    }
                }
            }
        }

    }

    .titlebar {
        display: flex;
        width: 100%;

        .tout-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 20px;

            .type-title {
                margin-top: 5px;
            }
        }

        .integration-info {
            display: flex;
            flex-direction: column;


            .integration-title {
                font-weight: 600;
                font-size: 12px;
            }

            .edit {
                font-size: 9px;
                color: $c-lightGray;
                padding-left: 5px;

                &:hover {
                    color: $c-blue;
                }
            }

            .integration-meta {
                font-size: 12px;
                color: $c-lightGray;
            }
        }
    }

    .delete-btn {
        font-size: 8px;
        color: $c-red;
        transition: all .3s ease;

        &:hover {
            color: rgba($c-red, .7);
        }
    }

    .status-container {
        display: flex;
        align-items: center;

        .status-title {
            font-size: 10px;
            color: $c-lightGray;
        }
    }

    .actions {
        @include position(absolute, 0 0 auto auto);
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        .status {
            @include size(10px);
            margin-right: 20px;
            &.off {
                background-color: $c-danger;
            }
            &.on {
                background-color: $c-success;
            }
        }

        .settings {
            &.icon {
                color: $c-border;
            }
        }



        .icons {
            position: relative;
            display: inline-block;
            padding: 15px 0;
            @include size(48px 100%);
            text-align: center;
            color: $c-lightGray;
            border-left: 1px solid $c-border;
            box-sizing: border-box;
            &:hover {
                background-color: $c-border;
            }
            &:after {
                @include position(absolute, 50% auto auto 50%);
                margin-top: -7px;
                margin-left: -5px;

                font-family: 'Craft';
                speak: none;
                -webkit-font-feature-settings: "liga", "dlig";
                -moz-font-feature-settings: "liga=1, dlig=1";
                -moz-font-feature-settings: "liga", "dlig";
                -ms-font-feature-settings: "liga", "dlig";
                -o-font-feature-settings: "liga", "dlig";
                font-feature-settings: "liga", "dlig";
                text-rendering: optimizeLegibility;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                direction: ltr;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                display: inline-block;
                text-align: center;
                font-style: normal;
                vertical-align: middle;
                word-wrap: normal !important;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }

        }

        .text-icon {
            width: auto;
            padding: 15px 20px;
            font-size: 11px;

            &:after {
                display: none;
                margin-left: 15px;
            }
        }
        .collapser { &:after { content: 'downangle'; } }
        .settings { &:after { content: 'settings'; } }
    }

    .body {
        border-top: 1px solid darken($c-border, 5);
    }
}